@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A warm welcome on Aron's website</h1>
    <p><a href="https://www.youtube.com/watch?v=zfNaPzN_bC8">Facts<a></p>
    
    
    <hr/>
    <div>Server OS: @Model.OSVersion<br>Made with love by Aron</div>
</div>
