@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ur personal details are mine fuck the gdpr(not really dont arrest me please(we dont collect any data))</p>
